.contact-section {
    font-family: 'Arial', sans-serif;
    background-color: #0B2C3D;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.contact-card {
    background-color: #3C3176;
    padding: 20px;
    border-radius: 10px;
    width: 246px;
    text-align: center;
}

.soc {
    border-radius: 10px;
    background-color: #3C3176;
    padding: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 1cm;
    gap: 0.5cm;
}

.fa-brands {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.formquery {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #3C3176;
    margin-top: 2cm;
    padding: 20px;
}

.formPro {
    display: flex;
    gap: 1cm;
    width: 32cm;
}

#Problem {
    border-radius: 5px;
    padding: 10px;
    padding-left: 0.4cm;
    border: 2px solid yellow;
    margin-top: 6px;
    outline: 0;
    background-color: transparent;
    color: white;
    font-family: 'Chakra Petch';
    font-size: 1.3rem;
    resize: none;
    height: 5cm;
    width: 16cm;
}

#Submit {
    border-radius: 25px;
    width: 5cm;
    margin-top: 1cm;
    cursor: pointer;
    background-color: #02ece8;
    border: 2px solid #02ece8;
}