.signUp {
    background: url("../assets/BackforLS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.form {
    display: flex;
}

.signnn {
    backdrop-filter: blur(15px);
    padding: 15px;
}

.sign {
    text-decoration: underline;
}